/* ArtistBox.css */
.artist-box {
    background: white;
    margin: 50px;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .artist-image {
    max-width: 70%;
    border-radius: 4px;
  }
  
  .artist-name {
    margin-top: 15px;
    color: #029c0f;
  }
  